.box {
	display: flex;
}

.radiobox {
	text-align: center;
}

button a {
	color : black;

}

.nomForm{
	
	color: blue;
	font-style : italic;
}


nav{
	margin-bottom:1%;
}

select {
	display : flex !important;
	width : 10% !important;
 }

.formExt {
	margin : 4% 3%;
	border : solid;
	padding: 3% 2%;	
}

.formExtLegend{
	font-size: 2em;
	border : 0.2rem solid;	
	padding:0.8%;
	margin-left: 20%;
	font-size: 2em;
}

.formInt{
	margin:3% 5%;
	padding:1.25% 2%;
}

.formIntLegend{
	border : 0.1rem solid;	
	font-size: 1.3em;
	padding:0.5%;
}

.formSpaceChamp{
	margin:2% 1.5%;
}


.titreListForm{
	margin: 2% 0% 2% 1%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
	margin-left: 3%;
}

.SaveButton{
	align-items: center;
	text-align: center;
}


.CustomCheckboxes{
	display: inline-block;
	margin: 10px;
}
