.box {
	display: flex;
}

.radiobox {
	text-align: center;
}

button a {
	color : black;

}

.nomForm{
	
	color: blue;
	font-style : italic;
}

p{
	margin:1%;
}

nav{
	margin-bottom:1%;
}

select {
	display : flex !important;
	width : 10% !important;
 }

 main{
 	margin-left: 2%;
 	margin-right: 2%;
 }